<div class="row">
  <div class="large-3 columns">
  	<%= image_tag "metalon1.jpg"%>
  </div>
  <div class="large-6 columns">
		<h2>Metalon Aluminium Renovation & Construction Initial website</h2>
		<%=link_to "Facebook Page", "https://www.facebook.com/pages/Metalon/323886127779914", target: "_blank"%></br>
	  <%= DateTime.now %>
	</div>
  <div class="large-3 columns"></div>
</div>
